replicaCount: 1
image:
  repository: dimozone/identity-api
  pullPolicy: IfNotPresent
  tag: 87eddb7
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
serviceAccount:
  create: true
  annotations: {}
  name: ''
podAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1001
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - all
cronJob:
  enabled: false
  schedule: 0 0 * * 0
env:
  LOG_LEVEL: info
  DB_PORT: 5432
  DB_NAME: identity_api
  DB_SSL_MODE: require
  DB_MAX_OPEN_CONNECTIONS: '10'
  DB_MAX_IDLE_CONNECTIONS: '3'
  PORT: 8080
  MON_PORT: 8888
  KAFKA_BROKERS: kafka-dev-dimo-kafka-kafka-brokers:9092
  CONTRACT_EVENT_TOPIC: topic.contract.event
  DIMO_REGISTRY_CHAIN_ID: 80002
  DIMO_REGISTRY_ADDR: '0x5eAA326fB2fc97fAcCe6A79A304876daD0F2e96c'
  DIMO_VEHICLE_NFT_ADDR: '0x45fbCD3ef7361d156e8b16F5538AE36DEdf61Da8'
  DIMO_MANUFACTURER_NFT_ADDR: '0xA4ad0F9c722588910791A9BAC63ADbB365614Bc7'
  AFTERMARKET_DEVICE_CONTRACT_ADDRESS: '0x325b45949C833986bC98e98a49F3CA5C5c4643B5'
  DCN_REGISTRY_ADDR: '0x374350Ab806E06217e84a0238150E98788cd26ab'
  DCN_RESOLVER_ADDR: '0x8E498009CaCa11ca9dD6696Bc00eEFcCd51811d5'
  SYNTHETIC_DEVICE_CONTRACT_ADDRESS: '0x78513c8CB4D6B6079f813850376bc9c7fc8aE67f'
  REWARDS_CONTRACT_ADDRESS: '0xd00e0e788028a8636509c50cf89df1420b12a5c2'
  BASE_IMAGE_URL: https://assets.dev.dimo.xyz/
  BASE_VEHICLE_DATA_URI: https://device-data-api.dev.dimo.zone/v2/vehicles/
  TABLELAND_API_GATEWAY: https://tableland-node.dev.dimo.zone/
  SACD_ADDRESS: '0x4E5F9320b1c7cB3DE5ebDD760aD67375B66cF8a3'
  DEV_LICENSE_ADDR: '0xdb6c0dBbaf48b9D9Bcf5ca3C45cFF3811D70eD96'
  STAKING_ADDR: '0xA010a42DE263592E631d3DCDC621ae7BFfCca338'
  CONNECTION_ADDR: '0x41799E9Dc893722844E771a1C1cAf3BBc2876132'
  STORAGE_NODE_ADDR: '0xf76eEBa34B19aDb7eEa9E4Eea05243D7E5a30123'
  TEMPLATE_ADDR: '0x0000000000000000000000000000000000000000'
service:
  type: ClusterIP
  ports:
    mon-http:
      port: 8888
      targetPort: mon-http
      protocol: TCP
    http:
      port: 8080
      targetPort: http
      protocol: TCP
ports:
  - name: mon-http
    containerPort: 8888
    protocol: TCP
  - name: http
    containerPort: 8080
    protocol: TCP
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    nginx.ingress.kubernetes.io/limit-rps: '25'
    external-dns.alpha.kubernetes.io/hostname: identity-api.dev.dimo.zone
  hosts:
    - host: identity-api.dev.dimo.zone
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 250m
    memory: 384Mi
  requests:
    cpu: 25m
    memory: 64Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
podDisruptionBudget:
  minAvailable: 0
kafka:
  clusterName: kafka-dev-dimo-kafka
  topics: []
serviceMonitor:
  enabled: true
  path: /metrics
  port: mon-http
  interval: 30s
